header {
   border: solid 2px rgb(107, 11, 37); 
   padding: 20px;
   font-size: 32px;
   color: rgb(245, 240, 242);
}

body {
    color: rgb(255, 255, 255);
    background: black;
}   margin: 0px;
    font-family: "Chakra Petch", sans-serif;

section {
     background:rgb(80, 9, 9);
     padding-bottom: 80px;
     padding-top: 80px;
     display:flex;
     justify-content: center;
}

.chamada-texto {
    margin-right: 15%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}