header {
   border: solid 2px rgb(117, 4, 32); 
}

body {
    color: rgb(255, 255, 255);
    background: black;
}





section {
     background:rgb(46, 2, 2);
     padding-bottom: 80px;
     padding-top: 80px;
}