header {
    border-bottom: solid 2px rgb(131, 8, 8);
    padding: 20px;
    font-size: 32px;
    color: rgb(248, 243, 243); 

}
body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
 }
section {
    background: rgb(102, 3, 3);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 15%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}