header {
   border: solid 2px rgb(243, 154, 178); 
   padding: 20px;
   font-size: 32px;
   color: rgb(216, 115, 162);
}

body {
    color: rgb(255, 255, 255);
    background: black;
}

section {
     background:rgb(80, 9, 9);
     padding-bottom: 80px;
     padding-top: 80px;
     display:flex;
     justify-content: center;
}

.chamada-texto {
    margin-right: 15%;
}