body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px rgb(112, 2, 48);
    padding: 20px;
    font-size: 32px;
    color: rgb(121, 4, 4);
}

section {
    background: rgb(145, 5, 5);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 15%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}